body{
    padding: 20px;
}
h3{
    font-size: 30px;
    margin-bottom: 25px;
}
.par{
    font-size: 20px;
    margin-bottom: 20px;
}
.sub_par{
    padding: 0;
    margin-left: 20px;
}
.sub_par li{
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
}